fnt_5 RCDATA "..\\fonts\\static\\Montserrat-ExtraBold.ttf"
fnt_1 RCDATA "..\\fonts\\static\\Montserrat-Black.ttf"
fnt_2 RCDATA "..\\fonts\\static\\Montserrat-BlackItalic.ttf"
fnt_3 RCDATA "..\\fonts\\static\\Montserrat-Bold.ttf"
fnt_4 RCDATA "..\\fonts\\static\\Montserrat-BoldItalic.ttf"
fnt_6 RCDATA "..\\fonts\\static\\Montserrat-ExtraBoldItalic.ttf"
fnt_7 RCDATA "..\\fonts\\static\\Montserrat-ExtraLight.ttf"
fnt_8 RCDATA "..\\fonts\\static\\Montserrat-ExtraLightItalic.ttf"
fnt_9 RCDATA "..\\fonts\\static\\Montserrat-Italic.ttf"
fnt_10 RCDATA "..\\fonts\\static\\Montserrat-Light.ttf"
fnt_11 RCDATA "..\\fonts\\static\\Montserrat-LightItalic.ttf"
fnt_12 RCDATA "..\\fonts\\static\\Montserrat-Medium.ttf"
fnt_13 RCDATA "..\\fonts\\static\\Montserrat-MediumItalic.ttf"
fnt_14 RCDATA "..\\fonts\\static\\Montserrat-Regular.ttf"
fnt_15 RCDATA "..\\fonts\\static\\Montserrat-SemiBold.ttf"
fnt_16 RCDATA "..\\fonts\\static\\Montserrat-SemiBoldItalic.ttf"
fnt_17 RCDATA "..\\fonts\\static\\Montserrat-Thin.ttf"
fnt_18 RCDATA "..\\fonts\\static\\Montserrat-ThinItalic.ttf"
