SSL RCDATA "Data\\ssl.zip"
fbclient RCDATA "Data\\fb_client.zip"
pre RCDATA "Data\\Anforderungen.rtf"
bat RCDATA "Data\\bat.zip"
service RCDATA "Data\\MitbestimmITServer.service.zip"
console RCDATA "Data\\MitbestimmITServer.zip"
client RCDATA "Data\\client.zip"
zertifikate RCDATA "Data\\Zertifikate.zip"
